body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #222;
  margin-top: 36px;
}



a {
	color: #ff0200;
}
	a:hover {
		color: #b90909;
	}

li.nav-header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #222;
}

blockquote {
	padding: 20px;
	margin: 26px 0;
	border-left: 5px solid #ff0200;
	color: #696969;
	background-color: #fafafa;
}

blockquote p {
	font-size: inherit;
	line-height: 1.5;
}
